.cart{
    height: 100vh;
    z-index: 666;
    position: fixed;
    right: 0;
    width: 40%;
    background-color: #66bc34f5;
    padding: 1em;
}
.cart--open--top{
    display: flex;
    justify-content: space-between;
}
.cart--open--button--close__container{
    position: relative;
    left: 5%;
    
}
.cart--open--button--close{
    border: none;
    background-color: transparent;
    padding: 3px 9px 13px 9px;
    cursor: pointer;
}
.cart--open--button--close:hover .x--line{
    border-bottom: 4px solid #bb0001;
}
.x--line{
    border-bottom: 4px solid white;
    pad: 10px;
    width: 30px;
    height: 15px;
    transition: 0.2s ease all;
}
.x--line1{
    transform: rotate(45deg);
    position: relative;
    top: 9px;
    left: 3.6px;
}
.x--line2{
    transform: rotate(-45deg);
    position: relative;
    top: -6.3px;
    right: 4.3px;
}

.cart--open--button--checkout__container{
    position: relative;
    right: 5%;
    padding: 4.20px;

}
.cart--open--button--checkout{
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease all;

}
.cart--open--button--checkout:hover .cart--open--button--checkout--i  {
   color:#bb0001;
}
.cart--open--button--checkout:hover .cart--open--button--checkout--p {
    color:#bb0001;
 }

.cart--open--button--checkout--i{
    color: white;
    font-size: 1.5em;
    transition: 0.2s ease all;

}
.cart--open--button--checkout--p{
    color: white;
    transition: 0.2s ease all;
    letter-spacing: 1px;
}
.cart--open--bottom{
    margin-top: 2em;
}
.cart--open--bottom__item{
    height: 10vh;
    display: flex;
    border: 1px solid red;
}