.footer{
    background-color: rgb(50, 58, 52);
    display: flex;
    flex-direction: column;
    padding: 5em;
    color: #98bacb;
}
.footer--top{
    display: flex;
    align-items: center;
}
.footer--top--one{
    width: 50%;

}
.footer--top--input{
    background-color: transparent;
    outline: none;
    border: none;
    color: #98bacb;

}
.footer--top--input__container{
    border-bottom:2px solid rgb(180, 187, 188);
    border-radius: 1px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.footer--top--word__container--top{
    letter-spacing: 1.5px;
}
.footer--top--word__container--bottom{
    letter-spacing: 2px;
    font-size: 2.5em;
    color: aliceblue;
}

.footer__email--button{
    background-color: transparent;
    border: none;
    outline:none;
    cursor: pointer;
    padding:10px;
}
.footer__email--button:hover .footer__email--button--icon{
    color:#2d6717;
}

.footer__email--button--icon{
    color:#70ee3e;
    font-size: 1.1em;
}


.footer--top--two{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer--top--image__container{
    width: fit-content;
   
}
.footer--top--image{
    max-width: 400px;
}
.footer--bottom{
    display: flex;

}
.footer--bottom--one{
    width: 50%;

}
.footer--bottom--two{
    width: 50%;

}