.footer{
    height: 75vh;
    background-color: rgb(50, 58, 52);
    display: flex;
    flex-direction: column;
    padding: 5em;
    color: rgb(216, 234, 222);
}
.footer--top{
    display: flex;
    border: 1px solid blue;
}
.footer--top--one{
    width: 50%;
    border: 1px solid blue;

}
.footer__email--button{
    background-color: transparent;
    border: none;
    outline:none;
    cursor: pointer;
    padding:10px;
}
.footer__email--button:hover .footer__email--button--icon{
    color:#2d6717;
}

.footer__email--button--icon{
    color:#70ee3e;
    font-size: 1.1em;
}


.footer--top--two{
    width: 50%;
        border: 1px solid blue;

}
.footer--bottom{
    display: flex;
    border: 1px solid blue;

}
.footer--bottom--one{
    width: 50%;
    border: 1px solid blue;

}
.footer--bottom--two{
    width: 50%;
    border: 1px solid blue;

}